<div class="leading-loose">
  <form
    class="max-w-xl m-4 p-10 bg-white rounded shadow-xl"
    [formGroup]="editCourseForm"
  >
    <p class="text-gray-800 font-medium">Informacion Curso</p>
    <div class="mt-2">
      <label class="block text-sm">Titulo</label>
      <input
        class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded"
        formControlName="title"
        type="text"
        placeholder="Title"
      />
    </div>
    <div class="mt-2">
      <label class="block text-sm">Profesor</label>
      <input
        class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded"
        formControlName="professor"
        type="text"
        placeholder="prefesor"
      />
    </div>
    <div class="mt-2">
      <label class="block text-sm">Descripcion</label>
      <input
        class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded"
        formControlName="description"
        type="text"
        placeholder="Descriction"
      />
    </div>
    <div class="mt-2">
      <label class="block text-sm">Tema</label>
      <input
        class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded"
        formControlName="topic"
        type="text"
        placeholder="Tema"
      />
    </div>
    <div class="mt-4">
      <button
        class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
        type="submit"
        (click)="update()"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
